.root {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
    overflow-x: hidden;
}

.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../imagens/foto da frente mcar.jpg?height=1080&width=1920');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -2;
}

.backgroundOverlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.carShowcase {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main {
    flex-grow: 1;
}

.carsSection {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carsSection:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.carsSection h2 {
    font-size: 2.2rem;
    color: #050b7d;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.carros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.carro {
    position: relative;
    border: 2px solid #050b7d;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 350px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carro:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

.carro img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    margin-bottom: 10px;
}

.carousel {
    position: relative;
}

.carouselBtn {
    background-color: #050b7d;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-75%);
    transition: background-color 0.3s ease;
}

.carouselBtn:hover {
    background-color: #1e3a8a;
}

.carouselBtn.left {
    left: 5px;
}

.carouselBtn.right {
    right: 5px;
}

.carDescription {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    font-weight: 500;
    background-color: #e4e4e4;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.311);
    text-align: center;
}

.carName {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    font-weight: 500;
    background-color: #e4e4e4;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.311);
    text-align: center;
    display: inline-block;
    max-width: 100%;
}
.searchAndFilter {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.searchBar input {
  border: none;
  outline: none;
  padding: 5px;
  width: 200px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.priceFilter {
  display: flex;
  align-items: center;
  gap: 5px;
}

.priceFilter input {
  width: 80px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filters select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.noResults {
  font-size: 1.2rem;
  color: #666;
  text-align: center;
  margin-top: 20px;
}


@media (max-width: 768px) {
    .carsSection h2 {
        font-size: 1.8rem;
    }

    .carros {
        flex-direction: column;
        align-items: center;
    }

    .carro {
        width: 100%;
        max-width: 350px;
    }
    .searchAndFilter {
      width: 100%;
    }
  
    .searchBar {
      width: 100%;
    }
  
    .searchBar input {
      width: 100%;
    }
  
    .filters {
      flex-direction: column;
      width: 100%;
    }
  
    .priceFilter {
      flex-wrap: wrap;
      justify-content: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .carsSection {
        padding: 1rem;
        margin: 1rem auto;
        max-width: 100%;
    }

    .carsSection h2 {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    .carro {
        width: 100%;
        max-width: 300px;
    }

    .carro img {
        height: 200px;
    }



    .carDescription {
        font-size: 0.9rem;
        padding: 10px;
    }

    .carName {
        font-size: 1rem;
        padding: 8px 15px;
    }

}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  height: 90%;
  max-height: 800px;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.modalTitle {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #050b7d;
}

.modalCarousel {
  position: relative;
  margin-bottom: 15px;
  flex: 0 0 auto;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalImageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.modalImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.modalDescription {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

@media (max-width: 768px) {
  .modalContent {
    padding: 15px;
  }

  .modalTitle {
    font-size: 1.2rem;
  }

  .modalDescription {
    font-size: 0.9rem;
  }
}

.modalDetails {
  margin-top: 20px;
}

.modalSubtitle {
  font-size: 1.2rem;
  color: #050b7d;
  margin-bottom: 10px;
}

.modalAdditionalInfo {
  margin-top: 20px;
}

.modalAdditionalInfo h4 {
  font-size: 1rem;
  color: #050b7d;
  margin-top: 15px;
  margin-bottom: 5px;
}

.modalAdditionalInfo ul {
  list-style-type: disc;
  padding-left: 20px;
}

.modalAdditionalInfo li {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .modalSubtitle {
    font-size: 1.1rem;
  }

  .modalAdditionalInfo h4 {
    font-size: 0.9rem;
  }
}

.simulationButton {
  background-color: #050b7d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  width: 100%;
}

.simulationButton:hover {
  background-color: #1e3a8a;
}

