body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffff75;
    color: #333333;
    overflow-x: hidden;
}

header {
    background-color: #050b7d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.mcar {
    padding: 10px 0px;
    width: 250px;
    height: auto;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav li {
    list-style: none;
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #cccccc;
}

.icones-redes-sociais {
    gap: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.icones-redes-sociais a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icones-redes-sociais a:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
    position: relative;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-container p {
    margin: 0 0 1rem;
}

.contact-info {
    margin: 1rem 0;
}

.contact-info p {
    margin: 0.5rem 0;
}

.nav-links {
    margin: 1rem 0;
}

.nav-links a {
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.social-icon {
    width: 45px;
    height: 45px;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.1);
}

section {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

section h2 {
    font-size: 2.2rem;
    color: #050b7d;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.simulacao-explicacao {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.simulacao-explicacao:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.simulacao-explicacao h2 {
    font-size: 2rem;
    color: #050b7d;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.simulacao-explicacao p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.simulacao-explicacao ul {
    margin: 1rem 0;
    padding-left: 1.5rem;
}

.simulacao-explicacao li {
    margin-bottom: 0.5rem;
}

#form-simulacao {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 600px;
    margin: 0 auto;
}

#form-simulacao input,
#form-simulacao select {
    padding: 1rem;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s ease;
}

#form-simulacao select:focus {
    border-color: #050b7d;
    outline: none;
}

#form-simulacao input:focus,
#form-simulacao select:focus {
    border-color: #050b7d;
    outline: none;
}

#form-simulacao button {
    padding: 1rem 2rem;
    background-color: #050b7d;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#form-simulacao button:hover {
    background-color: #063dc9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .mcar {
        width: 200px;
        margin-right: 40px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 20px auto;
    }

    section h2 {
        font-size: 2rem;
    }

    section p {
        font-size: 1rem;
        padding: 0;
    }

    #form-simulacao {
        max-width: 100%;
        padding: 1rem;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact-info, .nav-links, .social-icons {
        margin-bottom: 1.5rem;
    }

    .nav-links a {
        display: block;
        margin-bottom: 0.5rem;
    }

    .social-icons {
        justify-content: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        font-size: 14px;
        padding: 0;
        background-color: #ffff75;
        color: #333333;
    }

    header {
        flex-direction: column;
        align-items: center;
        padding: 5px 8px;
        list-style-type: none;
    }

    .mcar {
        width: 180px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin: 10px auto;
    }

    nav a {
        font-size: 14px;
    }

    .icones-redes-sociais {
        justify-content: center;
        gap: 8px;
    }
    footer {
        padding: 1rem;
    }

    .footer-container {
        max-width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .contact-info, .nav-links, .social-icons {
        margin-bottom: 1rem;
    }

    .nav-links a {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
    }

    .social-icon {
        width: 35px;
        height: 35px;
    }

    .social-icons {
        justify-content: center;
    }

    section {
        padding: 1rem;
        margin: 1rem auto;
        max-width: 100%;
    }

    section h2 {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    section p {
        font-size: 1rem;
        padding: 0;
    }

    .simulacao-explicacao {
        padding: 1rem;
        margin: 1rem auto;
        max-width: 100%;
    }

    .simulacao-explicacao h2 {
        font-size: 1.6rem;
    }

    .simulacao-explicacao p {
        font-size: 0.9rem;
    }

    #form-simulacao {
        max-width: 100%;
        padding: 1rem;
    }

    #form-simulacao input,
    #form-simulacao select {
        font-size: 1rem;
        padding: 0.8rem;
    }

    #form-simulacao button {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
    }
}

