.header {
    background-color: #050b7d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.mcar {
    padding: 10px 0px;
    width: 250px;
    height: auto;
    position: relative;
    cursor: pointer;
}

.icones-redes-sociais {
    gap: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.icone-rede-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icone-rede-social:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #cccccc;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .mcar {
        width: 200px;
        margin-right: 40px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 20px auto;
    }

    .icones-redes-sociais {
        justify-content: center;
    }
    .icone-rede-social {
        width: 40px;
        height: 40px;
    }
    .icone-rede-social img {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .header {
        padding: 5px 8px;
    }

    .mcar {
        width: 180px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    nav ul {
        gap: 8px;
    }

    nav a {
        font-size: 14px;
    }

    .icones-redes-sociais {
        gap: 8px;
    }
    .icone-rede-social {
        width: 30px;
        height: 30px;
    }
    .icone-rede-social img {
        width: 30px;
        height: 30px;
    }
}

